@using El3edda.Data.ViewModels
@using Microsoft.Extensions.Options
@inject IOptions<El3edda.Data.PaymentSettings.PayPalSettings> PayPal
@model ShoppingCartVM

@{
    ViewData["Title"] = "Shopping Cart Summary";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
<link href="~/css/CartSummary.css" rel="stylesheet" />

@*<div class="row">
    <div class="col-md-8 offset-2">
    <div class="text-center">
    <h2>
    Your shopping cart summary
    </h2>
    </div>
    <table class="table">
    <thead>
    <tr>
    <th>Amount</th>
    <th>Mobile</th>
    <th>Price</th>
    <th>Subtotal</th>
    <th></th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
    {
    <tr>
    <td class="align-middle">@item.Amount</td>
    <td class="align-middle">@item.Mobile.Name</td>
    <td class="align-middle">@item.Mobile.Price.ToString("c")</td>
    <td class="align-middle">@((item.Amount*item.Mobile.Price).ToString("c"))</td>
    <td class="align-middle"><a class="text-success" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Mobile.Id"><i class="bi bi-plus-square"></i></a></td>
    <td class="align-middle"><a class="text-danger" asp-controller="Orders" asp-action="RemoveItemFromShoppingCart" asp-route-id="@item.Mobile.Id"><i class="bi bi-dash-square"></i></a></td>
    </tr>
    }
    </tbody>
    <tfoot>
    <tr>
    <td colspan="2"></td>
    <td><b>Total</b></td>
    <td>
    @Model.ShoppingCartTotal.ToString("c")
    </td>
    <td></td>
    <td></td>
    </tr>
    </tfoot>
    </table>
    <div class="text-center">
    <div class="btn-group">
    <div id="paypal-button"></div>
    <a class="btn btn-outline-primary" asp-controller="Orders" asp-action="CompleteOrder">
    Complete order
    </a>
    <a class="btn btn-outline-success" asp-controller="Mobiles" asp-action="Index">
    Add more items
    </a>
    </div>
    </div>
    </div>
    </div>
*@
<main class="page">
    <section class="shopping-cart dark">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <div class="items">
                            @foreach (var item in Model.ShoppingCart.ShoppingCartItems)
                            {
                                <div class="product">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img class="img-fluid mx-auto d-block image" src="@item.Mobile.MainPhotoURL">
                                        </div>
                                        <div class="col-md-9">
                                            <div class="info">
                                                <div class="row">
                                                    <div class="col-md-5 product-name">
                                                        <div class="product-name">
                                                            <a asp-controller="Mobiles" asp-action="Details" asp-route-id="@item.Mobile.Id">@item.Mobile.Name</a>
                                                            <div class="product-info">
                                                                <div>Display: <span class="value">@item.Mobile.Specs.Screen</span></div>
                                                                <div>OS: <span class="value">@item.Mobile.Specs.OS</span></div>
                                                                <div>CPU: <span class="value">@item.Mobile.Specs.CPU</span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class=" col-md-3 quantity">
                                                        <p>Quantity:</p>
                                                        <a class="text-success" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@item.Mobile.Id"><i class="bi bi-plus-square"></i></a>
                                                        <span class="mx-2 text-dark"><b>@item.Amount</b></span>
                                                        <a class="text-danger" asp-controller="Orders" asp-action="RemoveItemFromShoppingCart" asp-route-id="@item.Mobile.Id"><i class="bi bi-dash-square"></i></a>
                                                    </div>
                                                    <div class="col-md-4 price">
                                                        <span>@item.Mobile.Price.ToString() EGP</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4">
                        <div class="summary">
                            <h3>Summary</h3>
                            <div class="summary-item"><span class="text">Subtotal</span><span class="price">@Model.ShoppingCartTotal.ToString() EGP</span></div>
                            <div class="summary-item"><span class="text">Discount</span><span class="price">21 EGP</span></div>
                            <div class="summary-item"><span class="text">Shipping</span><span class="price">21 EGP</span></div>
                            <div class="summary-item"><span class="text">Total</span><span class="price">@Model.ShoppingCartTotal.ToString() EGP</span></div>
                            <div class="text-center">
                                <a class="btn btn-primary btn-lg btn-block my-2" asp-controller="Orders" asp-action="CompleteOrder">
                                    Complete the order
                                </a>
                                <a class="btn btn-success btn-lg btn-block my-2" asp-controller="Mobiles" asp-action="Index">
                                    Add more items
                                </a>
                                <div id="paypal-button" class="my-2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>



<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
    paypal.Button.render({
      // Configure environment
      env: 'sandbox',
      client: {
        sandbox: '@PayPal.Value.ClientID',
      },
      // Customize button (optional)
      locale: 'en_US',

      style: {
        size: 'small',
        color: 'gold',
        shape: 'pill',
      },

      // Enable Pay Now checkout flow (optional)
      commit: true,

      // Set up a payment
      payment: function(data, actions) {
        return actions.payment.create({
          transactions: [{
            amount: {
              total: @Model.ShoppingCartTotal.ToString(),
              currency: 'USD'
            }
          }]
        });
      },

      // Execute the payment
      onAuthorize: function(data, actions) {
        return actions.payment.execute().then(function() {
              var url = '@Url.Action("CompleteOrder", "Orders", new { })';
              window.location.href = url;
        });
      }
    }, '#paypal-button');

</script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

