@using El3edda.Models
@{
	ViewData["Title"] = "Home";
	var TopSellers = (IEnumerable<Mobile>)ViewBag.TopSellers;
	var NewArrivals = (IEnumerable<Mobile>)ViewBag.NewArrivals;
	var HotSales = (IEnumerable<Mobile>)ViewBag.HotSales;
	var TopSellersList = TopSellers.ToList();
	var NewArrivalsList = NewArrivals.ToList();
	var HotSalesList = HotSales.ToList();
	var BestDealMobile = (Mobile)ViewBag.BestDealMobile;
}

<!-- Hero Section Begin -->
<section class="hero">
	<div class="hero__slider owl-carousel">
		<div class="hero__items set-bg" data-setbg="/Template/img/hero/hero-1.jpg">
			<div class="container">
				<div class="row">
					<div class="col-xl-5 col-lg-7 col-md-8">
						<div class="hero__text">
							<h6>Luxury Collection</h6>
							<h2>Fall - Winter Collections 2022</h2>
							<p>We have a collection of luxury phones from the top-notch manufacturers to fit and suit all your needs.</p>
							<a href="@Url.Action("Index", "Mobiles")" class="primary-btn">Shop now <span class="arrow_right"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hero__items set-bg" data-setbg="/Template/img/hero/hero-2.jpg">
			<div class="container">
				<div class="row">
					<div class="col-xl-5 col-lg-7 col-md-8">
						<div class="hero__text">
							<h6>Top-Notch Collection</h6>
							<h2>IPhone Collection 2022</h2>
							<p>We have a collection of exceptional-quality top-notch phones to suit your needs.</p>
							<a href="@Url.Action("Index", "Mobiles")" class="primary-btn">Shop now <span class="arrow_right"></span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Hero Section End -->

<div style="height:10%;"></div>

<!-- Product Section Begin -->
<section class="product spad">
	<div class="container" id="filter-controls">
		<div class="row">
			<div class="col-lg-12">
				<ul class="filter__controls">
					<li class="active" data-filter=".best-sellers">Best Sellers</li>
					<li data-filter=".new-arrivals">New Arrivals</li>
					<li data-filter=".hot-sales">Hot Sales</li>
				</ul>
			</div>
		</div>
		<div class="row product__filter">
			<!--Top Sellers-->
			@for (int i = 0; i < TopSellersList.Count; i++)
			{
				<div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix best-sellers">
					<div class="product__item">
						<div class="product__item__pic set-bg" data-setbg="@TopSellersList[i].MainPhotoURL" style="background-size:200px">
						</div>
						<div class="product__item__text">
							<h6>@TopSellersList[i].Name</h6>
							<a href="@Url.Action("AddItemToShoppingCart", "Orders", new {Id= @TopSellersList[i].Id})" class="add-cart">+ Add To Cart</a>
							<h5>@TopSellersList[i].Price EGP</h5>
						</div>
					</div>
				</div>
			}
			<!--Top Sellers end-->

			<!--Hot Sales-->
			@for (int i = 0; i < HotSalesList.Count; i++)
			{
				<div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix hot-sales" style="display:none;">
					<div class="product__item">
						<div class="product__item__pic set-bg" data-setbg="@HotSalesList[i].MainPhotoURL" style="background-size:200px">
						</div>
						<div class="product__item__text">
							<h6>@HotSalesList[i].Name</h6>
							<a href="@Url.Action("AddItemToShoppingCart", "Orders", new {Id= @HotSalesList[i].Id})" class="add-cart">+ Add To Cart</a>
							<h5>@HotSalesList[i].Price EGP</h5>
						</div>
					</div>
				</div>
			}
			<!--Hot Sales End-->

			<!--New Arrivals-->
			@for (int i = 0; i < NewArrivalsList.Count; i++)
			{
				<div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals" style="display:none;">
					<div class="product__item">
						<div class="product__item__pic set-bg" data-setbg="@NewArrivalsList[i].MainPhotoURL" style="background-size:200px">
						</div>
						<div class="product__item__text">
							<h6>@NewArrivalsList[i].Name</h6>
							<a href="@Url.Action("AddItemToShoppingCart", "Orders", new {Id= @NewArrivalsList[i].Id})" class="add-cart">+ Add To Cart</a>
							<h5>@NewArrivalsList[i].Price EGP</h5>
						</div>
					</div>
				</div>
			}
			<!--New Arrivals End-->

		</div>
	</div>
</section>
<!-- Product Section End -->

   <!-- Categories Section Begin -->
    <section class="categories spad">
        <div class="container" id="sale">
            <div class="row">
                <div class="col-lg-4">
                    <div class="categories__hot__deal">
                        <img src="@BestDealMobile.MainPhotoURL" alt="">
                        <div class="hot__deal__sticker">
                            <span>Sale Of</span>
                            <h5>@BestDealMobile.Price EGP</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">

                </div>
                <div class="col-lg-4 offset-lg-1">
                    <div class="categories__deal__countdown">
                        <span>Deal Of The Week</span>
                        <h2>@BestDealMobile.Name</h2>
                        <a href="@Url.Action("AddItemToShoppingCart", "Orders", new{Id = @BestDealMobile.Id})" class="primary-btn">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->