@model El3edda.Models.Mobile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mobile</h4>
    <hr />
    <dl class="row">
@*      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serial)
        </dd>*@

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WarrantyPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WarrantyPeriod)
        </dd>

       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitsInStock)
        </dd>*@


        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitsSold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitsSold)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ViewSpecs" class="btn btn-primary mt-3" asp-route-id="@Model?.Id">View Specs</a> |
    <a asp-action="Index" class="btn btn-dark mt-3">Back to List</a>

 </div>

 
 <div>
    <a asp-action="Edit" class="btn btn-warning mt-3" asp-route-id="@Model?.Id">Edit</a>
 </div>

