@model El3edda.Models.Mobile


@{
    ViewData["Title"] = "Edit";
    IEnumerable<El3edda.Models.Manufacturer> manufactures = new List<Manufacturer>();
    manufactures = (List<El3edda.Models.Manufacturer>)ViewBag.Manufactures;
}

<h1>Edit</h1>

<h4>Mobile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="@Model.Id"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" value="@Model.Name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" value="@Model.ReleaseDate"/>
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" value="@Model.Price"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" value="@Model.Description"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WarrantyPeriod" class="control-label"></label>
                <input asp-for="WarrantyPeriod" class="form-control" value="@Model.WarrantyPeriod" />
                <span asp-validation-for="WarrantyPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitsInStock" class="control-label"></label>
                <input asp-for="UnitsInStock" class="form-control" value="@Model.UnitsInStock"/>
                <span asp-validation-for="UnitsInStock" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UnitsSold" class="control-label"></label>
                <input asp-for="UnitsSold" class="form-control" value="@Model.UnitsSold"/>
                <span asp-validation-for="UnitsSold" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MainPhotoURL" class="control-label"></label>
                <input asp-for="MainPhotoURL" class="form-control" />
                <span asp-validation-for="MainPhotoURL" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Specs.BatteryCapacity" class="control-label"></label>
                <input asp-for="Specs.BatteryCapacity" class="form-control" value="@Model.Specs.BatteryCapacity"/>
                <span asp-validation-for="Specs.BatteryCapacity" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="Specs.CameraMegaPixels" class="control-label"></label>
                <input asp-for="Specs.CameraMegaPixels" class="form-control" value="@Model.Specs.CameraMegaPixels"/>
                <span asp-validation-for="Specs.CameraMegaPixels" class="text-danger"></span>
            </div>

            
             <div class="form-group">
                <label asp-for="Specs.Color" class="control-label"></label>
                <select asp-for="Specs.Color" asp-items="Html.GetEnumSelectList(typeof(Colors))" class="form-control" ></select>
                <span asp-validation-for="Specs.Color" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Specs.CPU" class="control-label"></label>
                <input asp-for="Specs.CPU" class="form-control" value="@Model.Specs.CPU"/>
                <span asp-validation-for="Specs.CPU" class="text-danger"></span>
            </div>

             
            <div class="form-group">
                <label asp-for="Specs.Height" class="control-label"></label>
                <input asp-for="Specs.Height" class="form-control" value="@Model.Specs.Height"/>
                <span asp-validation-for="Specs.Height" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="Specs.Width" class="control-label"></label>
                <input asp-for="Specs.Width" class="form-control" value="@Model.Specs.Width"/>
                <span asp-validation-for="Specs.Width" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Specs.Thickness" class="control-label"></label>
                <input asp-for="Specs.Thickness" class="form-control" value="@Model.Specs.Thickness"/>
                <span asp-validation-for="Specs.Thickness" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Specs.OS" class="control-label"></label>
                <input asp-for="Specs.OS" class="form-control" value="@Model.Specs.OS"/>
                <span asp-validation-for="Specs.OS" class="text-danger"></span>
            </div>

            
            <div class="form-group">
                <label asp-for="Specs.Screen" class="control-label"></label>
                <input asp-for="Specs.Screen" class="form-control" value="@Model.Specs.Screen"/>
                <span asp-validation-for="Specs.Screen" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Specs.Weight" class="control-label"></label>
                <input asp-for="Specs.Weight" class="form-control" value="@Model.Specs.Weight"/>
                <span asp-validation-for="Specs.Weight" class="text-danger"></span>
            </div>

            <select class="form-select form-select-lg mb-3 mt-3" name="ManufacturerId" >

                @foreach(var man in manufactures)
                {
                    if(man.Id == Model.Id)
                    {
                        <option value="@man.Id" selected>@man.Name</option>
                    }
                    else
                    {
                        <option value="@man.Id">@man.Name</option>
                    }
                }

            </select>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondry mt-3">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
