@model specSearchParamter;
@{
	IEnumerable<Tuple<bool, Manufacturer>> all_manufacturers = ViewBag.Manufacturers;
	IEnumerable<Tuple<bool, ScreenEnum>> all_screens = ViewBag.screens;
	IEnumerable<Tuple<bool, OSEnum>> all_os = ViewBag.os_es;
	IEnumerable<Tuple<bool, Colors>> all_colors = ViewBag.colors;
}


@*//TODO
	// Mobile Specs Category (RAM and ROM, Battery, CameraSpecs, CPU, Screen, )*@

<style>
	input[type="checkbox"] {
		/* Add if not using autoprefixer */
		-webkit-appearance: none;
		/* Remove most all native input styles */
		appearance: none;
		/* Not removed via appearance */
		font: inherit;
		margin: 0;
		width: 1.15em;
		height: 1.15em;
		border: 0.15em solid currentColor;
		border-radius: 0.15em;
		transform: translateY(-0.075em);
		display: grid;
		place-content: center;
	}

		input[type="checkbox"]::before {
			content: "";
			width: 0.65em;
			height: 0.65em;
			clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
			transform: scale(0);
			transform-origin: bottom left;
			transition: 120ms transform ease-in-out;
			box-shadow: inset 1em 1em var(--form-control-color);
			background-color: purple
		}

		input[type="checkbox"]:checked::before {
			transform: scale(1);
		}

	.checkLabel {
		font-family: system-ui, sans-serif;
		font-size: 1rem;
		font-weight: bold;
		line-height: 1.1;
		display: grid;
		grid-template-columns: 1em auto;
		gap: 0.5em;
	}

	.accordion-button:not(.collapsed) {
		color: black;
		background-color: white;
	}

	.check_box_scroll {
		display: flex;
		flex-direction: column;
		height: 6rem;
		overflow: auto;
		margin-bottom: 1rem;
		padding: 0.5rem;
	}

		.check_box_scroll::-webkit-scrollbar {
			width: 1rem;
		}

		.check_box_scroll::-webkit-scrollbar-track {
			box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		}

		.check_box_scroll::-webkit-scrollbar-thumb {
			background-color: darkgrey;
			outline: 1px solid slategrey;
		}
</style>

<form asp-action="Index" method="get" class="row">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="col-12">
		<div class="row">
			<div class="col-2">
				<button type="submit" class="btn btn-outline-dark"><i class="bi bi-search"></i></button>

			</div>
			<div class="col-10">
				<div class="form-group">
					<input asp-for="text_search" id="main_search" class="form-control" placeholder="search" />
					<span asp-validation-for="text_search" class="text-danger"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12">
		<p class="text-black">
			Advanced Search
		</p>

	</div>
	<div class="col-12">
		<div class="accordion">
			<div class="accordion-item">
				<h2 class="accordion-header" id="panelsStayOpen-infoHeading">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#panelsStayOpen-info" aria-expanded="false"
							aria-controls="panelsStayOpen-info">
						Selling Information
					</button>
				</h2>
				<div id="panelsStayOpen-info" class="accordion-collapse collapse"
					 aria-labelledby="panelsStayOpen-infoHeading">
					<div class="accordion-body">
						<div class="input-group d-flex flex-column">
							<h6> Company </h6>
							<div class="check_box_scroll border">
								@foreach (var company in all_manufacturers)
								{
									<label class="checkLabel">
										<input type="checkbox" name="manufacturerids" value=@company.Item2.Id checked=@company.Item1>
										<span>@company.Item2.Name  <span style="color:gray">(@company.Item2.Mobiles.Count())</span></span>
									</label>
								}
							</div>
						</div>
						<h6> Price </h6>
						<div class="input-group flex-nowrap mb-2">
							
							<span class="input-group-text ">
								<i class="fa-solid fa-dollar"></i>
							</span>
							<div class="form-group mb-0">
								<input asp-for="priceHigher" class="form-control" placeholder="From" />
								<span asp-validation-for="priceHigher" class="text-danger"></span>
							</div>
							<div class="form-group mb-0">
								<input asp-for="priceLower" class="form-control" placeholder="To" />
								<span asp-validation-for="priceLower" class="text-danger"></span>
							</div>
						</div>
						

							<h6> Warranty (month) </h6>
							

						<div class="input-group flex-nowrap mb-2">
							
							
							<span class="input-group-text">
								<i class="fa-solid fa-clock"></i>
							</span>
							<div class="form-group mb-0">
								<input asp-for="warrentyPeriodHigher" class="form-control" placeholder="From" />
								<span asp-validation-for="warrentyPeriodHigher" class="text-danger"></span>
							</div>
							<div class="form-group mb-0">

								<input asp-for="warrentyPeriodLower" class="form-control" placeholder="To" />
								<span asp-validation-for="warrentyPeriodLower" class="text-danger"></span>
							</div>

						</div>

						<h6> Release Date </h6>
						<div class="input-group mb-2">
							<div class="form-group mb-0">
								<label class="form-label" asp-for="releasebefore">Before</label>
								<input asp-for="releasebefore" type="date" class="form-control" />
								<span asp-validation-for="releasebefore" class="text-danger"></span>
							</div>
							<div class="form-group mb-0">
								<label class="form-label" asp-for="releaseafter">After</label>
								<input asp-for="releaseafter" type="date" class="form-control"/>
								<span asp-validation-for="releaseafter" class="text-danger"></span>
							</div>

						</div>
						<h6> Color </h6>
						<div class="input-group d-flex flex-column">
							<div class="check_box_scroll border">
								@foreach (var company in all_colors)
								{
									<label class="checkLabel">
										<input type="checkbox" name="Colors" value=@company.Item2 checked=@company.Item1>
										<span>@company.Item2  <i style="color: @company.Item2" class="fa-solid fa-square"></i></span>
									</label>
								}
							</div>
						</div>

						<div class="input-group flex-nowrap mb-2">
							<div class="form-group form-check">
								<label class="checkLabel">
									<input name="InStock" type="checkbox" /> in stock only
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#panelsStayOpen-dimesion" aria-expanded="false"
							aria-controls="panelsStayOpen-dimesion">
						Dimensions
					</button>
				</h2>
				<div id="panelsStayOpen-dimesion" class="accordion-collapse collapse"
					 aria-labelledby="panelsStayOpen-dimesion">
					<div class="accordion-body">
						<h6> Hieght (inches)</h6>
						<div class="input-group flex-nowrap mb-2">
							<span class="input-group-text">
								<i class="fa-solid fa-arrows-up-down"></i>
							</span>
							<div class="form-group mb-0">
								<input asp-for="HeightLower" class="form-control" placeholder="From" />
								<span asp-validation-for="HeightLower" class="text-danger"></span>
							</div>
							<div class="form-group mb-0">
								<input asp-for="HeightHigher" class="form-control" placeholder="To" />
								<span asp-validation-for="HeightHigher" class="text-danger"></span>
							</div>
						</div>

						<h6> Width (inches)</h6>
						<div class="input-group flex-nowrap mb-2">
							<span class="input-group-text">
								<i class="fa-solid fa-arrows-left-right"></i>
							</span>
							<div class="form-group mb-0">
								<input asp-for="WidthLower" class="form-control" placeholder="From" />
								<span asp-validation-for="WidthLower" class="text-danger"></span>
							</div>
							<div class="form-group mb-0">
								<input asp-for="WidthHigher" class="form-control" placeholder="To" />
								<span asp-validation-for="WidthHigher" class="text-danger"></span>
							</div>
						</div>

						<h6> Thinckness (inches)</h6>
						<div class="input-group flex-nowrap mb-2">
							<span class="input-group-text">
								<i class="fa-solid fa-up-right-and-down-left-from-center"></i>
							</span>
							<div class="form-group mb-0">
								<input asp-for="ThicknessLower" class="form-control" placeholder="From" />
								<span asp-validation-for="ThicknessLower" class="text-danger"></span>
							</div>
							<div class="form-group mb-0">
								<input asp-for="ThicknessHigher" class="form-control" placeholder="To" />
								<span asp-validation-for="ThicknessHigher" class="text-danger"></span>
							</div>
						</div>
						<h6> Weight (grams)</h6>
						<div class="input-group flex-nowrap mb-2">
							<span class="input-group-text">
								<i class="fa-solid fa-weight-hanging"></i>
							</span>
							<div class="form-group mb-0">
								<input asp-for="WeightLower" class="form-control" placeholder="From" />
								<span asp-validation-for="WeightLower" class="text-danger"></span>
							</div>
							<div class="form-group mb-0">
								<input asp-for="WeightHiger" class="form-control" placeholder="To" />
								<span asp-validation-for="WeightHiger" class="text-danger"></span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#panelsStayOpen-camera" aria-expanded="false" aria-controls="panelsStayOpen-camera">
						Camera Specifications
					</button>
				</h2>
				<div id="panelsStayOpen-camera" class="accordion-collapse collapse"
					 aria-labelledby="panelsStayOpen-camera">
					<div class="accordion-body">
						<h6> MegaPixels </h6>
						<div class="input-group flex-nowrap mb-2">
							<span class="input-group-text">
								<i class="fa-solid fa-camera"></i>
							</span>
							<div class="form-group mb-0">
								<input asp-for="CameraMegaPixelsLower" class="form-control" placeholder="From" />
								<span asp-validation-for="CameraMegaPixelsLower" class="text-danger"></span>
							</div>
							<div class="form-group mb-0">
								<input asp-for="CameraMegaPixelsHigher" class="form-control" placeholder="To" />
								<span asp-validation-for="CameraMegaPixelsHigher" class="text-danger"></span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="accordion-item">
				<h2 class="accordion-header" id="panelsStayOpen-harwareHeading">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
							data-bs-target="#panelsStayOpen-hardware" aria-expanded="false" aria-controls="panelsStayOpen-hardware">
						Hardware Properties
					</button>
				</h2>
				<div id="panelsStayOpen-hardware" class="accordion-collapse collapse"
					 aria-labelledby="panelsStayOpen-harwareHeading">
					<div class="accordion-body">
						<h6> Battery Capacity (MAH)</h6>
						<div class="input-group flex-nowrap mb-2">
							<div class="form-group mb-0">
								<input asp-for="BatteryCapacityLower" class="form-control" placeholder="From" />
								<span asp-validation-for="BatteryCapacityLower" class="text-danger"></span>
							</div>
							<div class="form-group mb-0">
								<input asp-for="BatteryCapacityHigher" class="form-control" placeholder="To" />
								<span asp-validation-for="BatteryCapacityHigher" class="text-danger"></span>
							</div>
						</div>
						<h6> RAM (GB)</h6>

						<div class="input-group flex-nowrap mb-2">
							<span class="input-group-text">
								<i class="fa-solid"></i>
							</span>
							<div class="form-group mb-0">
								<input asp-for=RAMLower class="form-control" placeholder="From"/>
								<span asp-validation-for="RAMLower" class="text-danger"></span>
							</div>
							<div class="form-group mb-0">
								<input asp-for=RAMHigher class="form-control" placeholder="To"/>
								<span asp-validation-for=RAMHigher class="text-danger"></span>
							</div>
						</div>
						<h6> Storage (GB) </h6>
						<div class="input-group flex-nowrap mb-2">
							<span class="input-group-text">
								<i class="fa-solid "></i>
							</span>
							<div class="form-group mb-0">
								<input asp-for=ROMLower class="form-control" placeholder="From"/>
								<span asp-validation-for=ROMLower class="text-danger"></span>
							</div>
							<div class="form-group mb-0">
								<input asp-for=ROMHigher class="form-control" placeholder="To"/>
								<span asp-validation-for=ROMHigher class="text-danger"></span>
							</div>
						</div>
						<div class="input-group d-flex flex-column">
							<h6> screen </h6>
							<div class="check_box_scroll border">
								@foreach (var company in all_screens)
								{
									<label class="checkLabel">
										<input type="checkbox" name="Screens" value=@company.Item2 checked=@company.Item1>
										<span>@company.Item2  </span>
									</label>
								}
							</div>
						</div>
						<div class="input-group d-flex flex-column">
							<h6> OS </h6>
							<div class="check_box_scroll border">
								@foreach (var company in all_os)
								{
									<label class="checkLabel">
										<input type="checkbox" name="OS" value=@company.Item2 checked=@company.Item1>
										<span>@company.Item2  </span>
									</label>
								}
							</div>
						</div>
						

					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="form-group mb-0">
		<input type="submit" value="Filter" class="btn btn-outline-dark m-2" />
	</div>
</form>
